.self {}

.filters {
  margin: 0.5em;
  text-align: center;
}

.filter {
  margin: 0 1em;
}

.table {}

.locationEnter {
  color: rgb(255, 64, 129);
  opacity: 0.01;
}
.locationEnterActive {
  color: #000;
  opacity: 1.0;
  transition: color 1s ease-in,
              opacity 1s ease-in;
}
