.self {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  max-width: 100vw;
}

@media (orientation: portrait) {
  .self {
    flex-direction: column;
  }
}

.indicators {
  display: flex;
  flex: 0 0 35vh;
  flex-direction: column;
}

@media (orientation: portrait) {
  .indicators {
    flex: 0 0 30vw;
    flex-direction: row;
  }
}

.indicator {
  align-items: center;
  display: flex;
  flex: 1 1 10em;
  flex-direction: column;
  justify-content: space-around;
  margin: 1em;
  padding: 2em;
  text-align: center;
}

.indicatorName {
  font-size: x-large;
}

.indicatorValue {
  color: #4285bc;
  font-size: 500%;
}

.indicatorName,
.indicatorValue {
  margin: 0.2em;
}

.logs {
  flex: 1 1 auto;
  overflow: hidden;
}
