.self {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

.appbar {
  background-color: #fff !important;
  flex: 0 0 auto;
}

.appbar > h1 {
  color: #666 !important;
  font-family: Cinzel, serif;
}

.view {}

.flexView {
  display: flex;
  flex: 1 0 auto;
}
